.container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 4px;
  padding: 8px;
  cursor: pointer;
  user-select: none;
  min-height: 60px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: $text-main;
}

.form {
  padding: 8px;
}
