.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  color: $text-main;
  font-size: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  width: clamp(500px, 100%, 800px);
  gap: 8px;
}

.button {
  margin-top: 8px;
}
