.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

.title {
  font-size: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 100%, 600px);
  row-gap: 16px;
  padding: 8px;
}

.button {
  margin-top: 16px;
}
