.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

.title {
  font-size: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  width: clamp(400px, 100%, 500px);
  row-gap: 16px;
}

.button {
  margin-top: 16px;
}
