.blur {
  position: absolute;
  inset: 0;
  background-color: rgba(black, 0.8);
  z-index: 1000;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}
