.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.infoGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 16px;
  row-gap: 8px;
  align-content: start;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.label {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: $text-muted;
  padding-top: 2px;
}

.value {
  font-size: 16px;
  color: $text-main;
  font-weight: 500;
  word-break: break-word;
  text-align: right;
}
