.container {
  display: flex;
  height: 100%;
  min-height: 1px;
  row-gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.preview {
  height: 200px;
  width: 100%;
}

.title {
  color: $text-main;
  font-size: 32px;
}

.form {
  display: flex;
  flex: 1;
  min-height: 1px;
  flex-direction: column;
  width: clamp(300px, 100%, 800px);
  gap: 8px;
}
