.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.tile {
  width: 100%;
  height: 100%;
}

.tile:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.tile:nth-child(2),
.tile:nth-child(3) {
  grid-column: span 2;
}

.tile:nth-child(4),
.tile:nth-child(5) {
  grid-column: span 3;
}
