.container {
  flex-shrink: 0;
  width: clamp(300px, 100%, 400px);
  border: 1px solid $border-color;
  aspect-ratio: 16 /9;
  border-radius: $radius-md;
  overflow: hidden;
  position: relative;
}

.thumbnailWrapper {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.overlay {
  padding: 20px 0;
  position: absolute;
  inset: 0;
  background-color: rgba($bg-main, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;

  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  pointer-events: none;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.anime {
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.container:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.action {
  display: flex;
  justify-content: center;
}
