.container {
  width: 100%;
  height: 90px;
  background-color: $bg-surface;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  border-top: 1px solid $border-color;
}

.list {
  list-style: none;
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left,
.right {
  width: 48px;
}
