.container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 100%;
  padding: 16px;
  height: 100%;
  min-height: 1px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $bg-main;
  padding: 12px;
  box-sizing: border-box;
  top: 0;
  position: sticky;

  @media (max-width: 1024px) {
    padding: 4px;
  }
}

.title {
  font-size: 2rem;
  font-weight: 600;
  flex: 1;

  @media (max-width: 1024px) {
    font-size: 1rem;
  }
}

.column {
  width: fit-content;
}

.shields {
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-size: 2rem;

  @media (max-width: 1024px) {
    font-size: 1rem;
  }
}

.icon {
  color: $accent-gold;
}

.article {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.wrapper {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  contain: strict;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-right: 16px;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  right: 16px;
  width: 100%;
  padding-bottom: 16px;
  padding-right: 12px;
  box-sizing: border-box;
}
