.container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 100%;
  padding: 16px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  overflow-y: auto;
}
