.container {
  display: flex;
  gap: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 16px;

  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 8px 0;
  }
  gap: 32px;
}

.thumbnailWrapper {
  flex-shrink: 0;
  width: clamp(300px, 100%, 400px);
  aspect-ratio: 16 /9;
  border-radius: $radius-md;
  overflow: hidden;
  border: 1px solid $border-color;
  position: relative;
}

.infoGrid {
  flex-shrink: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
  row-gap: 8px;
  align-content: center;
  padding: 16px;
  width: (300px, 100%, 25%);
}

.label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: $text-muted;
  padding-top: 2px;
}

.value {
  font-size: 14px;
  color: $text-main;
  font-weight: 500;
  word-break: break-word;
}

.raiting {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  &__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  &__list {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.icon {
  width: 32px;
  height: 32px;
}

.link {
  height: 100%;

  @media (max-width: 1024px) {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    border-top: 1px solid $border-color;
  }
}
