.snackbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: max-content;

  max-width: 90vw;

  padding: 12px;
  border-radius: 12px;
  background-color: $bg-elevated;
  gap: 8px;

  z-index: 9999;
  cursor: pointer;

  display: flex;
  align-items: center;

  .icon {
    font-size: 2rem;
  }

  .message {
    color: white;
  }

  &.success {
    color: white;
    .icon {
      color: #10b981;
    }
  }
  &.error {
    .icon {
      color: #ef4444;
    }
  }
  &.info {
    .icon {
      color: #3b82f6;
    }
  }
}
