.container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid $accent-primary;
  overflow: hidden;
}

.name {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: white;
  border-bottom: 1px solid $accent-primary;
  padding: 8px;
}

.wrapper {
  position: relative;
  flex: 1;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image {
  width: 100%;
  aspect-ratio: 16/9;
}

.blur {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($bg-elevated, 0.75);
}

.start {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.startTitle,
.startTime {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  width: 100%;
}
