.link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $accent-primary;
  padding: 16px;

  transition: all 0.1s ease-in-out;

  cursor: pointer;

  &:hover {
    background-color: rgba($accent-primary, 0.1);

    .icon {
      transform: scale(1.1);
    }
  }
}

.icon {
  font-size: clamp(32px, 2vw, 64px);
  transition: all 0.1s ease-in-out;
}
