.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.outlet {
  height: 100%;
  min-height: 1px;
  overflow-y: auto;
  padding-bottom: $main-footer-height;
}
