.container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  width: 100%;
  height: 100%;

  background-color: $bg-surface;
  padding: 16px;

  overflow: auto;
}

.title {
  font-size: 2rem;
}

.caption {
  font-size: 1rem;
}

.part {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__title {
    font-size: 1.5rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  color: rgba(255, 255, 255, 0.7);
}
