.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
  padding: 8px;
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.caption {
  font-size: 16px;
  font-weight: 400;
}
