$thumb-size: 14px;
$track-height: 4px;

$track-color: rgba(255, 255, 255, 0.2);
$fill-color: white;

.range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: $track-height;
  background: transparent;
  cursor: pointer;
  outline: none;
  border-radius: $track-height;
  margin: 0;

  background-image: linear-gradient(
    to right,
    $fill-color 0%,
    $fill-color var(--progress),
    $track-color var(--progress),
    $track-color 100%
  );

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $thumb-size;
    height: $thumb-size;
    border-radius: 50%;
    background: $fill-color;
    cursor: pointer;
    border: none;

    transform: scale(1);
    transition: transform 0.1s ease;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  &::-moz-range-thumb {
    width: $thumb-size;
    height: $thumb-size;
    border: none;
    border-radius: 50%;
    background: $fill-color;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s ease;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  &:hover {
    &::-webkit-slider-thumb {
      transform: scale(1.3);
    }
    &::-moz-range-thumb {
      transform: scale(1.3);
    }
  }

  &::-moz-range-track {
    width: 100%;
    height: $track-height;
    background: transparent;
  }
}
