.container {
  font-size: 1rem;
  font-weight: 500;
  background-color: $bg-elevated;
  padding: 4px 8px;
  border-radius: 24px;

  @media (max-width: 1024px) {
    padding: 4px;
    font-size: 0.75rem;
  }
}
